<div class="container">
  <p>{{greeting}}</p>
  <form action="/weather" method="POST">
    <label for="cityName">Write City Name</label>
    <input type="text" name="cityName" class="inpt">
    <input type="submit" value="send" class="button">
  </form>
  <p>{{weatherText}}</p>
  <p>{{weatherInfos}}</p>
</div>